<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Casa do Código</title>
</head>
<body>
    <div class="container">
        <h1>Lista de produtos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <% for(let livro of listaLivros) { %>
                <tr>
                    <td><%= livro.titulo %></td>
                    <td><%= livro.preco %></td>
                    <td><%= livro.descricao %></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <a href="/" class="btn btn-primary">Home</a>
    </div>
</body>

</html>